<div class="room">
  Hai!
  <ul class="messages">
    {{#each}}
      <li class="message">
        {{this.from}} - {{this.message}}
      </li>
    {{/each}}
  </ul>

  <form {{action "addMessage" on="submit"}}>
    <img {{bind-attr src="user.image"}}>
    {{input id="fromInput" value=nickname readonly="true"}}
    {{input id="messageInput" value=message placeholder="Enter your message..."}}
    <input type=submit value="Submit">
  </form>
</div>