!!!
%html
  %head
    %title Converse
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"
    = csrf_meta_tags
  %body
    = yield
